<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pulse.yemen.newapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Pulse Yemen Ads</name>
    <description>Test App with Unity Ads</description>
    <content src="index.html" />
    <access origin="*" />
    
    <plugin name="cordova-plugin-unityads" spec="1.0.0" />

    <platform name="android">
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="33" />
    </platform>
</widget>
